<script src="js/puzzle/register.js" defer></script>

<h3 class="title">퍼즐 등록</h3>
<div>
    <form>
        <table class="option">
            <tr>
                <td>닉네임</td>
                <td>
                    <input id="author" type="text" name="author" placeholder="닉네임 (10자 이하의 영문자, 한글)"/>
                </td>
            </tr>
            <tr class="sep">
                <td>비밀번호</td>
                <td>
                    <input id="password" type="password" name="password" placeholder="비밀번호"/>
                </td>
            </tr>

            <tr class="sep">
                <td>제목</td>
                <td>
                    <input id="title" type="text" name="title"  placeholder="제목 (20자 이하의 영문자, 한글, 숫자, 공백)"/>
                </td>
            </tr>
            
            <tr class="sep">
                <td>사전 이미지</td>
                <td>
                    <div>
                        <input id="file" type="file" name="file" accept="image/*"/>
                        <label for="file">업로드</label>
                    </div>
                </td>
            </tr>

            <tr class="sep">
                <td>크기</td>
                <td>
                    <input class="input_size" id="row" type="number" name="col" min="1" max="200" value="20"/>&Cross;
                    <input class="input_size" id="col" type="number" name="row" min="1" max="200" value="20"/>
                </td>
            </tr>

            <tr>
                <td>선택 모드</td>
                <td>
                    <div class="radio">
                        <input class="input_select" id="always" type="radio" name="select" value="always"/>
                        <label for="always">항상</label>
                    </div>
                    <div class="radio">
                        <input class="input_select" id="select" type="radio" name="select" value="cycle_bw" checked="checked"/>
                        <label for="select">사이클</label>
                    </div>
                </td>
            </tr>
        </table>
        <div class="buttons">
            <input class="hover" id="examine" type="button" value="검증"/>
            <input class="hover" id="register" type="button" value="등록"/>
        </div>
    </form>
    <form>
        <details>
            <summary class="title">검증 결과</summary>
            <table class="info" id="examine_result">
                <thead>
                    <th>제작자</th><th>제목</th><th>크기</th><th>난이도 (배율)</th><th>논리</th>
                </thead>
                <tbody>
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
                </tbody>
            </table>
        </details>
    </form>
</div>
