#table_wrapper {
    > #color_preview {
        .color_preview {
            color: #999;
            text-shadow: 0 0 5px #0003;

            &.black {
                color: #000;
            }
            &.white {
                color: #fff;
            }
        }
    }
    > #table_container {
        display: grid;
        grid-template-areas: ". clue_col" "clue_row cross";
        position: relative;
        margin: 0 auto;
        overflow: auto hidden;
        width: fit-content;
        max-width: 100%;
                
        > * {
            display: grid;
            
            > .hl {
                display: none;
                position: absolute;
                z-index: 1;
                background-color: #69f3;
            }
            &#clue_row {
                grid-area: clue_row;
            }
            &#clue_col {
                grid-area: clue_col;
            }
            &#cross {
                position: relative;
                grid-area: cross;
                overflow: hidden;
                
                #interact {
                    z-index: 2;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    cursor: crosshair;
                }
            }
        }
        .cell {
            background-color: #999;
            border: 1px #666 solid;
            text-align: center;
            
            &.sep_top {
                border-top: 2px #000 solid;
            }
            &.sep_left {
                border-left: 2px #000 solid;
            }
            &.black {
                background-color: #000;
            }
            &.white {
                background-color: #fff;
            }
        }
    }
}
