<div id="info_wrapper">
    <h3 class="title">CSE2104 기말 과제 : 노노그램</h3>
    <form>
        <table class="info">
            <tbody>
                <tr>
                    <td>학번</td><td>이름</td><td>주요 기술</td><td>설명</td>
                </tr>
                <tr>
                    <td>12234626</td><td>박재현</td><td>Node.js | Express | WebAssembly</td><td>노노그램 퍼즐을 직접 등록하고 플레이 할 수 있으며, 퍼즐은 자동으로 검증됩니다</td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
