<div id="info_wrapper">
    <h3 class="title">CSE2104 기말 과제 : 노노그램</h3>
    <form>
        <table class="option">
            <tbody>
                <tr>
                    <td>학번</td>
                    <td>12234626</td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td>박재현</td>
                </tr>
                <tr>
                    <td>주요 기술</td>
                    <td>Node.js | Express | JQuery | WebAssembly</td>
                </tr>
                <tr>
                    <td>로고</td>
                    <td>
                        <img src="image/logo1.svg" height="100%"/>
                        <img src="image/logo2.svg" height="100%"/>
                    </td>
                </tr>
                <tr>
                    <td>설명</td>
                    <td>
                        노노그램 퍼즐을 직접 등록하고 플레이 할 수 있습니다
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
