<div id="info_wrapper">
    <h3 class="title">CSE2104 기말 과제 : 노노그램</h3>
    <form>
        <table class="option">
            <tbody>
                <tr>
                    <td>학번</td>
                    <td>12234626</td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td>박재현</td>
                </tr>
                <tr>
                    <td>주요 기술</td>
                    <td>Node.js | Express | JQuery | WebAssembly</td>
                </tr>
                <tr>
                    <td>로고</td>
                    <td>
                        <img src="image/logo1.svg" height="100%"/>
                        <img src="image/logo2.svg" height="100%"/>
                    </td>
                </tr>
                <tr>
                    <td>설명</td>
                    <td>
                        노노그램 퍼즐을 직접 등록하고 플레이 할 수 있으며, 퍼즐은 자동으로 검증됩니다<br/>
                        <br/>
                        메인 페이지 | 최근에 등록된 퍼즐 5개, 랜덤하게 선택된 퍼즐 5개를 보여줍니다<br/>
                        전체 퍼즐 | 모든 퍼즐 목록을 보여줍니다<br/>
                        퍼즐 검색 | 모든 퍼즐 중에 조건에 맞는 퍼즐들의 목록을 보여줍니다<br/>
                        퍼즐 등록 | 원하는 퍼즐을 직접 만들 수 있으며, 검증을 통하여 결과의 가지수가 하나인 퍼즐이라면 등록할 수 있습니다<br/>
                        퍼즐 플레이 | 등록된 퍼즐을 직접 플레이 할 수 있고, 퍼즐을 등록할 때 설정한 비밀번호를 입력하면 퍼즐을 삭제할 수도 있습니다<br/>
                        오류 페이지 | 비정상적인 경로는 모두 이곳으로 이동됩니다
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
