<link rel="stylesheet" href="css/main.css"/>

<!-- 전체 퍼즐 수
풀린 퍼즐 수-->
<div id="main">
    <div class="container" id="recent">
        <div class="title">
            최근 퍼즐
        </div>
        <%- include("list/layout", {
            "puzzles" : recent
        }); %>
    </div>
    <div class="container" id="random">
        <div class="title">
            랜덤 퍼즐
        </div>
        <%- include("list/layout", {
            "puzzles" : random
        }); %>
    </div>
</div>
